.nav{
    display: flex;
    
}
.block{
    margin-left: 100px;
    margin-top: 10px;
}

.options{
    margin-left: 30%;
    font-size: 25px;
    margin-top: 20px;
}

.options label{
    margin: 15px;
    transition: 1s;
    border-bottom: 1px solid transparent;
}
.boot{
    margin-left: 50px;
    font-family: sans-serif;
    font-size: 23px;
    border-radius: 2px;
    color: gray;
    font-weight: bold;
    padding: 0px 10px;
    background-color: white;
    border:1px solid rgb(194, 191, 191);
    transition: all .2s;
}
.boot:hover{
    color: black;
    
    box-shadow: 0 0 8px 2px rgb(179, 177, 177);
}

@keyframes slide-in-left{
from{
transform: translate3d(-100%, 0, 0);
visibility: visible;
}
to{
transform: translate3d(0, 0, 0);
}
}
.options label:hover{
   border-bottom: 1px solid black;
}



.l1{
    font-size: 50px;
    font-weight: 600;
    font-family: Antipasto;
}
@font-face {
    font-family: gotham;
    src:url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css')
}
.l2{
    margin-left: 30px;
    font-family: gotham;
}