@keyframes example1 {
    0% {transform: translateY(-100%);}
    10% {transform: translateY(0);}
    
    20% {transform: translateY(0);}
    
    30% {transform: translateY(0);}
    
    100% {transform: translateY(0);}
}

@keyframes example2 {
    0% {transform: translateX(0);}
    10% {transform: translateX(0);}
    
    20% {transform: translateX(0);}
    
    30% {transform: translateX(0);}
    
    100% {transform: translateX(100%);}
    
}
.disp{
    display: table;
    table-layout: fixed;
    width: 50%;
    max-width: 400px;
}
.disp1-enter{
    opacity: 0;
}
.disp1-enter-active{
  opacity: 1;
  animation: example1;
  animation-duration: 3.5s;

}
.disp1-exit{
    opacity: 1;
}
.disp1-exit-active{
  
    animation: example2;
    animation-duration: 1s;
  }


.card1{
    display: table-cell;
    border: 2px solid rgb(165, 162, 162);
    border-radius: 1rem;
    transform: rotate(-10deg);
    width: 20rem;
    height: 18rem;
    z-index: 2;
    
}

.card1 img{
    position: relative;
    top: 23%;
    left: 5%;
    height: 90%;
    width: 80%;
}

.text1{
    text-align: center;
    font-size:25px;
    font-weight:500;
    color: black;
}

.card2{
    display: table-cell;
    border: 2px solid gray;
    border-radius: 1rem;
    font-size: 25px;
    color: white;
    transform: rotate(10deg);
    background-color: rgb(37, 37, 37);
    width: 20rem;
    height: 15rem;
    z-index: 1;
}

.text2{
    text-align: center;
    color :white;
    font-weight: 500;
}